@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#TabsToolbar {
    background: transparent !important;
    margin-bottom: 0 !important;
}
#TabsToolbar .arrowscrollbox-scrollbox {
    padding: 0 !important;
}
#TabsToolbar .tabbrowser-tabs {
    max-height: 25px !important;
    margin-top: -5px !important;
    margin-left: -1px !important;
}
#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-style: solid !important;
    border-color: rgba(0,255,255,1) !important;
    border-width: 0px 3px 0px 0px !important;
    padding: 0px 0px !important;
    background: rgba(255,255,255) !important;
    background-color: rgba(255,255,255,.50) !important;
    background-clip: padding-box !important;
    margin-left: -5px !important;
}
#TabsToolbar .tabs-newtab-button {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    border-style: solid !important;
    border-color: rgba(0,0,0,1) !important;
    background: transparent !important;
	background-clip: padding-box !important;
}

#TabsToolbar .tabbrowser-tab[first-tab][last-tab],
#TabsToolbar .tabbrowser-tab[last-visible-tab] {
    border-right-width: 1px !important;
}
#TabsToolbar .tabbrowser-tab[afterselected] {
   border-left-color: rgba(255,0,0) !important;
}
#TabsToolbar .tabbrowser-tab[selected] {
    background-color: rgba(0,255,0,.70) !important;
    background-clip: padding-box !important;

}
#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
    border-color: rgba(0,0,0,.2) !important;
}
#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
    background-color: rgba(0,0,0,.45) !important;
}
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
    display: none !important;
}
#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none !important;
}
#TabsToolbar .tabs-newtab-button {
    border-width: 1px 1px 1px 1px !important;
    margin: 0 !important;
    width: auto !important;
    padding: 0 0px !important;
}
#addon-bar,
#PersonalToolbar,
#nav-bar {
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: rgba(0,0,0,.25) !important;
    border-radius: 0 !important;
}
#nav-bar-customization-target {
    padding: 0px !important;
}